<!DOCTYPE html>
<html lang="en">

<head>
  <title>home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/styles.css" />
  <link rel="stylesheet" href="css/priceBar.css" />
  <link rel="stylesheet" href="css/footer-distributed-with-address-and-phones.css">

  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->


</head>

<body>

  <!-- navigation Start  altered-->

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <img class="img img-responsive navbar-brand" src="images/logo.png" />

        <!-- <a class="navbar-brand" href="#">WebSiteName</a> -->
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <!-- <li class="active"><a href="#">Home</a></li> -->
          <li>
            <a href="#">
              <span class="label-allAds">All ads</span>
            </a>
          </li>
          <li>
            <div class="menu-group">
              <div class="btn-group">
                <button type="button" class="btn btn-menu-group">සිංහල</button>
                <button type="button" class="btn btn-menu-group">தமிழ்</button>
              </div>
            </div>
          </li>
          <!-- <li>
            <a href="#">Page 3</a>
          </li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">

          <li>
            <a href="#">
              <span class="material-icons">forum</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-user"></span>
              Log in
            </a>
          </li>
          <li>
            <div class="menu-group">
              <a type="button" class="btn btn-primary-heading btn-lg">Post Your Ad</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- navigation End -->


  <div class="container">
    <div class="secondary-content">

      <!-- Secondrary search menu start -->

      <div class="search-menu-back">
        <div class="row row-margin">
          <div class="col-lg-3 pmzero">
            <button type="button" class="btn btn-ikman button-custom-width">
              <i class="fas fa-map-marker-alt"></i>
              Select Location
            </button>
          </div>
          <div class="col-lg-3 pmzero">
            <button type="button" class="btn btn-ikman button-custom-width">
              <i class="fas fa-tag"></i>
              Cars
            </button>
          </div>
          <div class="col-lg-6 pmzero">

            <div class="input-group input-group-search">
              <input type="text" class="form-control input-search" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-search" type="button">
                  <i class="fa fa-search fa-fw"></i> Search</button>
              </span>
            </div>

            <!-- <button type="button" class="btn btn-ikman button-custom-width">Default</button> -->
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- Secondrary search menu end -->


  <div class="container">

    <div class="row row-margin-content">
      <div class="col-lg-3 left-panel">


        <!-- drop down select start -->
        <div class="row">
          <div class="col-md-12">
            <fieldset>

              <p class="filter-heading">Sort results by:</p>
              <hr/>
              <!-- Select Basic -->
              <div class="form-group">
                <div class="col-md-12">
                  <select id="selectbasic" name="selectbasic" class="form-control">
                    <option value="date_desc" selected="selected">Date: Newest on top</option>
                    <option value="date_asc">Date: Oldest on top</option>
                    <option value="mileage_desc">Mileage: High to Low</option>
                    <option value="mileage_asc">Mileage: Low to High</option>
                    <option value="price_desc">Price: High to Low</option>
                    <option value="price_asc">Price: Low to High</option>
                  </select>
                </div>
              </div>

            </fieldset>
          </div>
        </div>
        <!-- drop down select end -->

        <!-- Type of poster start -->

        <div class="row">
          <div class="col-md-12">
            <fieldset>

              <p class="filter-heading">Type of poster</p>
              <hr/>

              <div class="form-group">
                <div class="col-md-12">
                  <div class="radio">
                    <label for="radios-0">
                      <input type="radio" name="radios" id="radios-0" value="1" checked="checked"> All posters
                    </label>
                  </div>
                  <div class="radio">
                    <label for="radios-1">
                      <input type="radio" name="radios" id="radios-1" value="2"> Only members
                    </label>
                  </div>
                </div>
              </div>

            </fieldset>
          </div>
        </div>

        <!-- Type of poster end -->

        <!-- price bar start -->
        <div class="row">
          <div class="col-md-12">

            <p class="filter-heading">Price Range</p>
            <hr/>
            <div class="row">
              <div class="badgecontainer">
                <b class="pull-right badgecontainer-span">10</b>
              </div>

              <div class="slidecontainer">
                <input type="range" min="1" max="1000000" value="50000" class="slider" id="myRange">
              </div>

              <div class="badgecontainer">
                <b class="badgecontainer-span">1kk</b>
              </div>
            </div>
          </div>
        </div>

        <!-- price display start -->

        <div class="row">
          <div class="col-md-12 price-div">

            <p>Price:
              <span id="demo"></span>
            </p>
          </div>
        </div>

        <!-- price display end  -->


        <!-- price bar end -->


        <div class="row">
          <div class="col-md-12" id="left-panel-acordian">
            <ul class="nav nav-stacked" id="accordion1">
              <li class="panel">
                <a data-toggle="collapse" data-parent="#accordion1" href="#firstLink" class="filter-heading">Category</a>

                <ul id="firstLink" class="collapse filter-ul">
                  <li>
                    <a href="#">Cars</a>
                  </li>
                  <li>
                    <a href="#">Vans</a>
                  </li>
                  <li>
                    <a href="#">jeeps</a>
                  </li>
                  <li>
                    <a href="#">Moter Bicycles</a>
                  </li>
                  <li>
                    <a href="#">Trishaws</a>
                  </li>

                </ul>

              </li>
              <li class="panel">
                <a data-toggle="collapse" data-parent="#accordion1" href="#secondLink" class="filter-heading">Location</a>

                <ul id="secondLink" class="collapse filter-ul">
                  <li class="">
                    <a href="#">Colombo</a>
                  </li>
                  <li class="">
                    <a href="#">Gampaha</a>
                  </li>
                  <li class="">
                    <a href="#">Kurunegala</a>
                  </li>
                </ul>
              </li>
              <li>
                <a data-toggle="collapse" data-parent="#accordion1" href="#thirdLink" class="filter-heading">Model Year</a>

                <ul id="thirdLink" class="collapse filter-ul">
                  <li class="">
                    <a href="#">2000</a>
                  </li>
                  <li class="">
                    <a href="#">2001</a>
                  </li>
                  <li class="">
                    <a href="#">2002</a>
                  </li>
                </ul>
                <!-- </li>
              <li class="panel">
                <a href="#">Test1</a>
              </li> -->
            </ul>
          </div>
          <!-- <div class="col-md-9">Lorem</div> -->
        </div>
      </div>



      <div class="col-lg-9 right-panel">
        <h5>Showing
          <span id="menu-page">1-25</span> of
          <span id="tot-add">58,037</span> ads</h5>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p> -->

        <div class="row main-list-div">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <img src="images/car1.jpg" class="img-thumbnail" alt="Cinque Terre" width="250" height="auto">
              </div>
              <div class="col-md-8">
                <h4 class="main-list-heading">Bugatti Veyron EB 16.4</h4>
                <p class="main-list-milage">25000 km</p>
                <h5>Colombo Car Association</h5>
                <p class="main-list-price">Rs. 250,000/=</p>
              </div>
            </div>
          </div>
        </div>


        <div class="row main-list-div">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <img src="images/car1.jpg" class="img-thumbnail" alt="Cinque Terre" width="250" height="auto">
              </div>
              <div class="col-md-8">
                <h4 class="main-list-heading">Bugatti Veyron EB 16.4</h4>
                <p class="main-list-milage">25000 km</p>
                <h5>Colombo Car Association</h5>
                <p class="main-list-price">Rs. 250,000/=</p>
              </div>
            </div>
          </div>
        </div>


        <div class="row main-list-div">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <img src="images/car1.jpg" class="img-thumbnail" alt="Cinque Terre" width="250" height="auto">
              </div>
              <div class="col-md-8">
                <h4 class="main-list-heading">Bugatti Veyron EB 16.4</h4>
                <p class="main-list-milage">25000 km</p>
                <h5>Colombo Car Association</h5>
                <p class="main-list-price">Rs. 250,000/=</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row main-list-div">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <img src="images/car1.jpg" class="img-thumbnail" alt="Cinque Terre" width="250" height="auto">
              </div>
              <div class="col-md-8">
                <h4 class="main-list-heading">Bugatti Veyron EB 16.4</h4>
                <p class="main-list-milage">25000 km</p>
                <h5>Colombo Car Association</h5>
                <p class="main-list-price">Rs. 250,000/=</p>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <ul class="pagination pagination-sm">
              <li>
                <a href="#">1</a>
              </li>
              <li>
                <a href="#">2</a>
              </li>
              <li>
                <a href="#">3</a>
              </li>
              <li>
                <a href="#">4</a>
              </li>
              <li>
                <a href="#">5</a>
              </li>
            </ul>
          </div>

        </div>

      </div>
    </div>

  </div>

  <!-- Footer Start. -->

  <footer class="footer-distributed">

    <div class="container">

      <div class="row test-background">
        <div class="col-lg-12">


          <div class="col-lg-4">
            <h5>Download our app</h5>

            <div class="row">
              <div class="col-md-6">
                <img src="images/google.png" class="img img-responsive" alt="google" width="auto" height="auto">

              </div>
              <div class="col-md-6">
                <img src="images/apple.png" class="img img-responsive" alt="google" width="auto" height="auto">

              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <h5>Connect With Us</h5>
                <h5>
                  <a href="#">
                    <i class="fab fa-facebook fa-2x"></i>
                  </a>
                  Like us on facebook
                </h5>
              </div>
            </div>
          </div>

          <div class="col-lg-2">
            <h5>Learn More</h5>
            <div class="ul-style">
              <p>
                <a href="#">How to sell fast</a>
              </p>
              <p>
                <a href="#">ikman compare</a>
              </p>
              <p>
                <a href="#">Buy Now on ikman.lk</a>
              </p>
              <p>
                <a href="#">Membership</a>
              </p>
              <p>
                <a href="#">Banner Advertising</a>
              </p>
              <p>
                <a href="#">Promote your ad</a>
              </p>
            </div>
          </div>

          <div class="col-lg-2">
            <h5>Help & Support</h5>
            <div class="ul-style">
              <p>
                <a href="#">FAQ</a>
              </p>
              <p>
                <a href="#">Stay safe on ikman.lk</a>
              </p>
              <p>
                <a href="#">Contact us</a>
              </p>
            </div>

          </div>

          <div class="col-lg-2">
            <h5>Social</h5>
            <div class="ul-style">
              <p>
                <a href="#">Blog</a>
              </p>
              <p>
                <a href="#">Facebook</a>
              </p>
              <p>
                <a href="#">Twitter</a>
              </p>
              <p>
                <a href="#">YouTube</a>
              </p>
              <p>
                <a href="#">Google+</a>
              </p>
            </div>
          </div>


          <div class="col-lg-2">
            <h5>About us</h5>
            <div class="ul-style">
              <p>
                <a href="#">About us</a>
              </p>
              <p>
                <a href="#">Career</a>
              </p>
              <p>
                <a href="#">Terms & Conditions</a>
              </p>
              <p>
                <a href="#">Privacy Policy</a>
              </p>
              <p>
                <a href="#">Sitemap</a>
              </p>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-lg-12 copyright">
            <div class="row">
              <div class="col-lg-6">
                <h5>Copyright © Saltside Technologies</h5>
              </div>
              <div class="col-lg-6">
                <h5>
                  <img src="images/footer-logo.png" class="img img-responsive pull-right" alt="google" width="auto" height="auto">
                </h5>
                </div>
            </div>


          </div>
        </div>





      </div>
  </footer>
  <!-- Footer End. -->






  <script>
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;

    slider.oninput = function () {
      output.innerHTML = this.value;
    }
  </script>

</body>

</html>